/* --------------------------
  Base
--------------------------- */
body{
  color:#34495e;
}

[class^="section-"]{
  height: 100vh;
  margin: 0;
  overflow:auto;
}
.section-five.image{
  height: 100%;
  margin: 0;
  overflow:auto;
}
.section-two.image{
  height: 100%;
  margin: 0;
  overflow:auto;
}
.section-two nav a{
  color:#45b1b7;
  transition: .3s ease;
}
.section-two nav a:hover{
  color:#ffffff;
}
.section-one{
  background-color: #d7fff5;
}
.section-two{
  background-color: #9b59b6;
}
.section-three{
  background-color: #83d0d4;
  /*f1c40f yellow*/
}
.section-four{
  background-color: rgba(240, 129, 132, .5);
  /*red #e74c3c*/
}
.section-five{
  background-color: #3498db;
}
.section-six{
  background-color: #34495e;
}
.section-seven{
  background-color: #e67e22;
}

.image {
    width:100vw;
    height: 100vh;
    background-image: url('../img/section1.jpg');
    background-size: cover;
    background-repeat: repeat-y;
}
.section-two.image {
    background-image: url('../img/weddingInfoSection2.jpg');
}
.section-three.image {
    background-image: url('../img/section3.jpg');
}
.section-four.image {
    background-image: url('../img/section4.jpg');
}
.section-five.image {
    background-image: url('../img/section5.jpg');
}
.section-six.image {
    background-image: url('../img/section6.jpg');
}

html {
  scroll-behavior: smooth;
}

h1{
  font-size: 3em;
}
p{
  font-size: 1.5em;
  line-height: 1.5em;
}
.panel{
  background-color: rgba(255, 255, 255, .4);
  width: 80%;
  margin: 50px auto;
  padding-top: 20px;
  border-radius: 5px;
}


/* --------------------------
   Sidebar - not finished
--------------------------- */
#sidebar  {
  z-index: 100;
  -webkit-animation-delay: 3s;
}
#sidebar ul {
  background: #ffffff;
  padding: 10px;
}
#sidebar ul li {
  margin: 0 0 0 20px;
  line-height: 40px;
  text-decoration: none;
  list-style: none;
}
#sidebar ul li a{
color: #f18284;
}

#sidebar {
  width: 200px;
  position: absolute;
  right: 0;
  top: 15%;
  border-radius: 5px;
}


/* --------------------------
   Text Styles
--------------------------- */
.noPanelTitle{
  margin-left: 10%;
  margin-top: 5%;
}
a{
  text-decoration: none;
}

body{
  /*background-color: #9b59b6;*/
  font-family: 'Raleway', sans-serif;
}

hr{
  border: 1px solid #34495e;
}

.smallerText{
  font-size: 1.1em;
  line-height: 2;
}
/* --------------------------
  Keyframes
--------------------------- */
@keyframes offset{
100%{
    stroke-dashoffset:0;
  }
}

@keyframes fillit{
100%{
    fill:#f18284;
  }
}
/* --------------------------
  SVG Styles
--------------------------- */

svg {
	display: block;
	margin: 4em auto 0;
	width: 40%;
}

.st1{
  stroke: #f18284;
  stroke-width: 1;
  stroke-dasharray: 1390;
  stroke-dashoffset: 1390;
  animation: offset 2s linear forwards, fillit .8s 2s ease forwards;
}

/* --------------------------
  RSVP Button Styles
--------------------------- */
.action-button {
  max-width: 80px;
  display: block;
  margin: 50px auto 0;
	padding: 20px 80px 19px 80px;
	border-radius: 10px;
	font-size: 35px;
  font-weight: 700;
	color: #FFF;
	text-decoration: none;
  transition: all 0.1s;
	-webkit-transition: all 0.1s;
  -webkit-animation-delay: 2s;
}

.datPurp {
	background-color: #9b59b6;
	border-bottom: 5px solid #2c3e50;
	text-shadow: 0px -2px #2c3e50;
}

.action-button:active {
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

/*icon*/
.fa-angle-double-down{
  font-size:50px;
  margin: 0 auto;
  display: block;
  width: 24px;
  position: relative;
  top: 30px;
  -webkit-animation-delay: 3s;
  -webkit-animation-iteration-count: 4;
  color: #27b899;
}

.fa-angle-double-down.pink{
  color: #f18284;

}
/*blend  image*/
/*.blendybob {
	width: 80%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0);;
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/masque-24.png);
	background-size: cover;
	}
.blendybob img {
  width: 100%;
  mix-blend-mode: screen;
  background-color: rgba(255, 255, 255, 0);;
}*/
.venueImg img{
  max-width: 400px;
  border: 10px solid rgba(240, 129, 132, .3);
}

/* --------------------------
  TRON (the grid)
--------------------------- */
/* Flex */
.row {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  flex: 1 1 8%;
  margin: 0 0 0.5rem 0;
  padding: 0.5em 10px;
  box-sizing: border-box;
}

/* nested grids */
.row .row, .row.nested {
  flex: 1 1 auto;
  margin-top: -0.5em;
}

/* full width grids */
.row.wide-fit {
  margin-left: -10px;
  margin-right: -10px;
}

/* center grids */
.row.center {
  justify-content: center;
}

.center .col {
  flex-grow: 0;
  flex-shrink: 0;
}

/* columns widths */

.col-span-1 {
  flex-basis: 8.3333%;
}

.col-span-2 {
  flex-basis: 16.6666%;
}

.col-span-3 {
  flex-basis: 25%;
}

.col-span-4 {
  flex-basis: 33.3333%;
}

.col-span-5 {
  flex-basis: 41.6666%;
}

.col-span-6 {
  flex-basis: 50%;
}

.col-span-7 {
  flex-basis: 58.3333%;
}

.col-span-8 {
  flex-basis: 66.6666%;
}

.col-span-9 {
  flex-basis: 75%;
}

.col-span-10 {
  flex-basis: 83.3333%;
}

.col-span-11 {
  flex-basis: 91.6666%;
}

.col-span-12 {
  flex-basis: 100%;
}

.fixed-width {
  flex: 0 0 500px;
  background-color: rgba(255,0,0,0.1) !important;
}

@media all and (max-width: 568px) {
  .col-span-1,
  .col-span-2,
  .col-span-3,
  .col-span-4,
  .col-span-5 {
    flex-basis: 50%;
  }

  .col-span-6,
  .col-span-7,
  .col-span-8,
  .col-span-9,
  .col-span-10,
  .col-span-11 {
    flex-basis: 100%;
  }

  .nested .col {
    flex-basis: 100%;
  }
}
/*End Flex*/

/*wedding info - section 2*/
.section-two .row.space{
  margin-top: 5%;
}

.weddingText{
  text-align: right;
}

/*Accomodations - section 3*/
.section-three hr{
  position: relative;
  top: -20px;
}
/*Travel - section 4*/
.travelText{
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
}
.map{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 8%;
}

p.hotelText {
  margin:0;
  max-width: 90%;
}
.panel.add{
  margin-top: -35px;
}
.section-three .bounce{
  position:relative;
  top:-23px;
}


nav a {
	position: relative;
	display: inline-block;
	margin: 15px 25px 0 0;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
}


/* --------------------------
  Link Styles
--------------------------- */
/*link log*/
.linkLogo{
    width: 75px;
    padding-right: 20px;
    padding-top: 7px;
}
/* Effect 8: border slight translate */
.cl-effect-8 a {
  padding:17px 20px 10px 20px
}
.cl-effect-8 a span{
  position: relative;
  top:-10px;
}

.cl-effect-8 a::before,
.cl-effect-8 a::after  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 3px solid #83d0d4;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-8 a::after  {
	border-color: #fff;
	opacity: 0;
	-webkit-transform: translateY(-7px) translateX(6px);
	-moz-transform: translateY(-7px) translateX(6px);
	transform: translateY(-7px) translateX(6px);
}

.cl-effect-8 a:hover::before,
.cl-effect-8 a:focus::before {
	opacity: 0;
	-webkit-transform: translateY(5px) translateX(-5px);
	-moz-transform: translateY(5px) translateX(-5px);
	transform: translateY(5px) translateX(-5px);
}

.cl-effect-8 a:hover::after,
.cl-effect-8 a:focus::after  {
	opacity: 1;
	-webkit-transform: translateY(0px) translateX(0px);
	-moz-transform: translateY(0px) translateX(0px);
	transform: translateY(0px) translateX(0px);
}

.modal{
  color: #ebebeb;
}
.modal p{
  font-size: 14px;
}
.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
}
.modal:target:before {
  display: block;
}
.modal:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 10%;
}
.modal-dialog {
  background: #2c3e50;
  border: #333 solid 1px;
  border-radius: 5px;
  /*margin-left: -200px;*/
  position: fixed;
  left: 20%;
  top: -100%;
  z-index: 102;
  width: 60%;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-body {
  padding: 20px;
  color: #ebebeb;
}
.modal-header,
.modal-footer {
  padding: 10px 20px;
}
.modal-header {
  border-bottom: #eee solid 1px;
}
.modal-header h2 {
  font-size: 20px;
}
.modal-footer {
  border-top: #eee solid 1px;
  text-align: right;
}
.cl-effect-8 .btn-close{
  position: absolute;
      top: 0;
      right: 5px;
      color: #ebebeb;
      font-size: 30px;
      padding: 3px 6px 0px 13px;
}
.backModal{
      margin-bottom: 20px;
    }
    .hotelImgOne, .activityImg{
      width: 400px;
      height:200px;
      background-repeat: no-repeat;
      padding-left:30px;
      padding-top:10px
    }
    .activityImgVert{
      width:auto;
      height: 357px;
      background-repeat: no-repeat;
      padding-left:30px;
      padding-top:10px
    }
.logo{
  color: transparent;
  background-color: transparent;
}
    /*loader*/

    .overlay {
   background:transparent;
   position:relative;
   width:640px;
   height:480px; /* your iframe height */
   top:480px;  /* your iframe height */
   margin-top:-480px;  /* your iframe height */
}

.rgstry{
  padding-bottom:20px
}
