/* --------------------------
  Base
--------------------------- */
body{
  color:#34495e;
}

[class^="section-"]{
  height: 100vh;
  margin: 0;
  overflow:auto;
}

.section-one{
  background-color: #d7fff5;
}
.section-two{
  background-color: #9b59b6;
}
.section-three{
  background-color: #f1c40f;
}
.section-four{
  background-color: #e74c3c;
}
.section-five{
  background-color: #3498db;
}
.section-six{
  background-color: #34495e;
}
.section-seven{
  background-color: #e67e22;
}

.image {
    width:100vw;
    height: 100vh;
    background-image: url('../img/rengagement183.jpg');
    background-size: cover;
    background-repeat: repeat-y;
}
.section-two.image {
    background-image: url('../img/weddingInfoSection2.jpg');
}
a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

h1{
  font-size: 3em;
}
p{
  font-size: 1.5em;
  line-height: 1.5em;
}
.panel{
  background-color: rgba(255, 255, 255, .4);
  width: 80%;
  margin: 50px auto;
  padding-top: 20px;
  border-radius: 5px;
}
/* --------------------------
  SVG Styles
--------------------------- */
body{
  background-color: #9b59b6;
  font-family: 'Raleway', sans-serif;
}


/* --------------------------
  Keyframes
--------------------------- */
@keyframes offset{
100%{
    stroke-dashoffset:0;
  }
}

@keyframes fillit{
100%{
    fill:#f18284;
  }
}
/* --------------------------
  SVG Styles
--------------------------- */

svg {
	display: block;
	margin: 4em auto 0;
	width: 40%;
}

.st1{
  stroke: #f18284;
  stroke-width: 1;
  stroke-dasharray: 1390;
  stroke-dashoffset: 1390;
  animation: offset 2s linear forwards, fillit .8s 2s ease forwards;
}

/* --------------------------
  RSVP Button Styles
--------------------------- */
.action-button {
  max-width: 80px;
  display: block;
  margin: 50px auto 0;
	padding: 20px 80px 19px 80px;
	border-radius: 10px;
	font-size: 35px;
  font-weight: 700;
	color: #FFF;
	text-decoration: none;
  transition: all 0.1s;
	-webkit-transition: all 0.1s;
  -webkit-animation-delay: 2s;
}

.datPurp {
	background-color: #9b59b6;
	border-bottom: 5px solid #2c3e50;
	text-shadow: 0px -2px #2c3e50;
}

.action-button:active {
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

/*icon*/
.fa-angle-double-down{
  font-size:50px;
  margin: 0 auto;
  display: block;
  width: 24px;
  position: relative;
  top: 30px;
  -webkit-animation-delay: 3s;
  -webkit-animation-iteration-count: 4;
  color: #27b899;
}

/*blend  image*/
/*.blendybob {
	width: 80%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0);;
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/masque-24.png);
	background-size: cover;
	}
.blendybob img {
  width: 100%;
  mix-blend-mode: screen;
  background-color: rgba(255, 255, 255, 0);;
}*/
.venueImg img{
  max-width: 400px;
  border: 10px solid rgba(240, 129, 132, .3);
}


/* Flex */
.row {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  flex: 1 1 8%;
  margin: 0 0 0.5rem 0;
  padding: 0.5em 10px;
  box-sizing: border-box;
}

/* nested grids */
.row .row, .row.nested {
  flex: 1 1 auto;
  margin-top: -0.5em;
}

/* full width grids */
.row.wide-fit {
  margin-left: -10px;
  margin-right: -10px;
}

/* center grids */
.row.center {
  justify-content: center;
}

.center .col {
  flex-grow: 0;
  flex-shrink: 0;
}

/* columns widths */

.col-span-1 {
  flex-basis: 8.3333%;
}

.col-span-2 {
  flex-basis: 16.6666%;
}

.col-span-3 {
  flex-basis: 25%;
}

.col-span-4 {
  flex-basis: 33.3333%;
}

.col-span-5 {
  flex-basis: 41.6666%;
}

.col-span-6 {
  flex-basis: 50%;
}

.col-span-7 {
  flex-basis: 58.3333%;
}

.col-span-8 {
  flex-basis: 66.6666%;
}

.col-span-9 {
  flex-basis: 75%;
}

.col-span-10 {
  flex-basis: 83.3333%;
}

.col-span-11 {
  flex-basis: 91.6666%;
}

.col-span-12 {
  flex-basis: 100%;
}

.fixed-width {
  flex: 0 0 500px;
  background-color: rgba(255,0,0,0.1) !important;
}

@media all and (max-width: 568px) {
  .col-span-1,
  .col-span-2,
  .col-span-3,
  .col-span-4,
  .col-span-5 {
    flex-basis: 50%;
  }

  .col-span-6,
  .col-span-7,
  .col-span-8,
  .col-span-9,
  .col-span-10,
  .col-span-11 {
    flex-basis: 100%;
  }

  .nested .col {
    flex-basis: 100%;
  }
}
/*End Flex*/

/*wedding info - section 2*/
.row.space{
  margin-top: 5%;
}

.weddingText{
  text-align: right;
}

.weddingText hr{
  border: 1px solid #34495e;
}
